@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #14b8a6;
    --teal-600: #0d9488;
    --teal-700: #0f766e;

    --default-layout-header-height: 60px;
    --default-layout-width: 1040px;
    --dashboard-layout-width: 1120px;

    --sm-ad-image-width: 100px;
    --sm-ad-image-height: 100px;
    --lg-ad-image-height: 250px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 62.5%; */
}

body{
    /* font-size: 1.6rem; */
    text-rendering: optimizeSpeed;
    background-color: #f2f5f8;
}

.ck-editor__editable{
    height: 200px;
}
