.wrapper{
    height: var(--default-layout-header-height);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
}

.inner{
    width: var(--default-layout-width);
    height: 100%;;
    margin: auto;
    display: flex;
    
}

.logo{
    width: 180px;
    display: flex;
    align-items: center;
}

.search{
    flex: 1;
    display: flex;
    align-items: center;
}

.login{
    display: flex;
    align-items: center;
    width: 120px;
    color: rgb(95, 94, 94);
}

.user:hover .dropdown{
    display: block;
}

.post{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.threeLine{
    display: none;
}

@media (max-width: 390px) {
    .wrapper{
        height: 80px;
    }
    .logo{
        margin-left: 15px;
    }
    .post{
        display: none;
    }
    .login{
        position: absolute;
        right: 60px;
        top: 13px;
        width: 220px;
    }
    .threeLine{
        display: block;
        position: absolute;
        right: 15px;
        top: 13px;
    }
    .inner{
        position: relative;
    }
    .user:hover .dropdown{
        display: none;
    }
    .dropdownButton{
        display: none;
    }
    .backgroundMenuBar{
        background-color: rgba(57, 58, 59, 0.9);
    }
    .menuBar{
        animation: slideToLeft 0.3s linear;
    }
}

@keyframes slideToLeft {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@media (min-width: 391px) and (max-width: 820px) {
    .logo{
        margin-left: 15px;
    }
    .post{
        margin-right: 15px;
    }
    .threeLine{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .user:hover .dropdown{
        display: none;
    }
    .dropdownButton{
        display: none;
    }
    .backgroundMenuBar{
        background-color: rgba(57, 58, 59, 0.9);
    }
    .menuBar{
        animation: slideToLeft 0.3s linear;
    }
}