.wrapper{
    margin-top: 20px;
    background-color: white;
}

.inner{
    width: var(--default-layout-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.content{
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}

@media (max-width: 390px){
    .wrapper{
        background-color: #f2f5f8;
    }
    .inner{
        background-color: white;
        flex-wrap: wrap;
        justify-content: unset;
        padding: 30px 0;
    }
    .content{
        font-size: 30px;
    }   
    .contact{
        width: 30%;
        padding-left: 100px;
    }
    .instruction{
        width: 30%;
        padding-left: 100px;
    }
    .infor{
        width: 30%;
        padding-left: 100px;
    }
    .support{
        margin-top: 60px;
        padding-left: 100px;
    }
}

@media (min-width: 391px) and (max-width: 820px) {
    .wrapper{
        background-color: #f2f5f8;
    }
    .inner{
        background-color: white;
        justify-content: space-around;
    }
}