.wrapper{
    margin-top: 20px;
    background-color: white;
}

.inner{
    width: var(--default-layout-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.content{
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}