.container{
    width: var(--dashboard-layout-width);
    margin: 85px auto 0;
    display: flex;
}

.content{
    flex: 1;
    padding: 10px 20px 0;
    min-height: 500px;
    background-color: white;
    margin-left: 20px;
}

.title{
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid rgb(202, 202, 202);
    margin-bottom: 15px;
}